input
{
    font-family: "Special Elite", cursive;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    width: 25%;
    border-width: 10px;
    border-color:aqua;
    margin: 0 10px;
}
